Data/*
Results/*
*/__pycache__/*
dot.ps
.DS_Store                                                                                                                                                                                                      
.ipynb_checkpoints
Data.tar.gz

Code/DEPRECATED
